numpy
opencv-python-headless
pandas
scikit-learn
matplotlib
seaborn
tqdm
joblib

tensorflow
tensorflow-hub

torch 
timm
torchvision
albumentations
transformers
tensorboard

onnx
onnxruntime

jupyter 
notebook 

black
